body {
    background-color: #caaf9a;
}

#logo {
    width: 55px;
    position: absolute;
    top: -2px;
}

.navbar-header {
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.field {
    background-image: url("img/soccer_field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 89%;
}

.wrapper-starters {
    width: 85%;
}

.wrapper-subtitutes {
    /*width: 7%;*/
    display: flex;
    justify-content: center;
}

.starters {
    width: 85%;
    margin: auto;
}

.substitutes {
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
}


.robot-thumbnail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0.15vw solid #67544d;
    margin: 0.5vw auto;
}

.substitutes-thumbnail {
    width: 70%;
    border: 0;
    margin: auto;
    margin-right: 5%;
}

.robot-img {
    width: 10vw;
    margin: 0.5vw auto;
}

.substitutes-img {
    margin: 0 auto;
}

.robot-name {
    text-align: center;
    background-color: #560e00;
    color: whitesmoke;
    font-size: 20px;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

.substitutes-name {
    background-color: #3b5998;
}

.robot-scores {
    margin: auto;
    background-color: #560e00;
    border: 1px solid #67544d;
    color: whitesmoke;
    font-size: 18px;
}

.substitutes-scores {
    background-color: #3b5998;
    border: 1px solid #3b5998;
}

.img-rounded {
    border-radius: 50%;
}

.chair {
    background-image: url("img/chair.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 1vw;
}